<template>
  <div class="days">
    <div class="day" v-for="(n) in dayNumbers" :key="n" @click="toogleActive(n,generateDay(n).full_date,generateDay(n).day)" :class="{ 'active': activeDays.indexOf(n) >= 0,'inactive':checkRule(generateDay(n).day) }">
      <h1>{{generateDay(n).date}}</h1>
      <!-- <h5>{{monthNames[generateDay(n).month]}}</h5> -->
      <h4>{{generateDay(n).day}}</h4>
    </div>
    <div class="day day-more" @click="changeDay" >
      <h3>{{(this.dayNumbers==9)?'More':'Less'}}</h3>
      <h3>{{(this.dayNumbers==9)?'v':'^'}}</h3>
    </div>
  </div>
</template>

<script>
export default {
  created(){
    if(this.$route.params.data){
      this.data=JSON.parse(this.$route.params.data);

      var curr = new Date();
      if(this.data.date){
        var date=this.data.date.split('-');
        curr.setFullYear(date[2],date[1]-1,date[0]);
        curr=curr.setDate(curr.getDate() +1);
        this.$store.dispatch('setDate',curr);
      }
      this.$store.dispatch('setRuleType',this.data.type);
    }
    this.fetchRules();
  },
  data() {
    return {
      weekday:["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],
      monthNames : ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"],
      activeDays: [1],
      dayNumbers:9,
      data:''
    }
  },
  methods: {
    fetchRules(){
      let package_id=(this.data)?this.data.package_id:this.$route.params.package_id;
      this.$store.dispatch('fetchRules',{package_id:package_id,rule_type:this.rule_type});
    },
    toogleActive(dayIndex,fullDate,day) {
      if(this.active_days.indexOf(day)>=0){
        this.activeDays = [];
        this.activeDays.push(dayIndex);
        let date=new Date(fullDate);
        date=this.formateDay(date.getDate())+'/'+this.formateDay(date.getMonth()+1)+'/'+date.getFullYear();
        this.$store.dispatch('setDate',date);
      }
    },
    formateDay(day){
      return (day<10)?'0'+day:day;
    },
    checkRule(day){
      return this.active_days.indexOf(day)<0;
    },
    generateDay(index){
      var curr = new Date();
      if(this.data.date){
        var date=this.data.date.split('-');
        curr.setFullYear(date[2],date[1]-1,date[0]);
      }
      var generateDate = new Date(curr.setDate(curr.getDate() +index));
      var day=generateDate.getDay();
      var month=generateDate.getMonth();
      return {
        date:generateDate.getDate(),
        day:this.weekday[day],
        month:month,
        full_date:generateDate
      }
    },
    formateDate(){

    },
    changeDay(){
      this.dayNumbers=(this.dayNumbers==9)?24:9;
    }
  },
  computed:{
    rule_type(){
      return this.$store.state.rule_type;
    },
    active_days(){
      return this.$store.state.rules
    }
  }
}
</script>

<style lang="scss" scoped>
.inactive{
  border:solid 2px #f2f2f2!important;
  background-color:white!important;
  cursor: not-allowed!important;
  
  h1{
    color:#f2f2f2!important;
    text-decoration: line-through !important;
  }
  h4{
    color:#f2f2f2!important;
    text-decoration: line-through !important;
  }

}

.days {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  font-family: "Nunito", sans-serif;
  @media (max-width: 640px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 510px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .day-more{
    border: 2px solid #f27f0b;
    color:#ec8c2c;
    h2 {
        color: #ec8c2c!important;
      }
    h1 {
      color: #ec8c2c!important;
      font-weight: bolder;
    }
  }
  .day:hover{
    border: 1px solid #f27f0b;
    color:#ec8c2c;
    h4 {
        color: #ec8c2c;
      }
    h1 {
      color: #ec8c2c;
    }
  }
  .day {
    transition:all 0.5s ease;
    cursor:pointer;
    padding: 15px;
    background-color: #f2f2f2;

    // height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
    border-radius: 4px 0px 0px 0px;
    h1{
      // font-style: normal;
      // font-weight: bold;
      // font-size: 16px;
      // line-height: 22px;
      color: #545454;
    }
    h4{
      // font-style: normal;
      // font-weight: normal;
      // font-size: 14px;
      color: #545454;
    }
    &.active {
      background: #f27f0b;
      h1 {
        color: #fff;
      }
      h4 {
        color: #fff;
      }
    }
    &.disabled {
      h2 {
        color: rgba(0, 0, 0, 0.25);
      }
      h5 {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}
</style>