<template>
<div class="center_out">
  <img src="/images/preloader/orange-circle.svg" alt="" v-if="!show">
  <div class="times" v-show="show">
    <!-- v-if="time_blocks.length<0" -->
    <div class="time " @click="toogleActive('6am-9am',time_blocks._6am_9am)" :class="{ active: activetimes.indexOf('6am-9am') >= 0,'inactive': !time_blocks._6am_9am}" >
      <h4>{{ '6am-9am' }}</h4>
    </div>
    <div class="time" @click="toogleActive('9am-12pm',time_blocks._9am_12pm)" :class="{ active: activetimes.indexOf('9am-12pm') >= 0,'inactive': !time_blocks._9am_12pm }" >
      <h4>{{ '9am-12pm' }}</h4>
    </div>
    <div class="time" @click="toogleActive('12pm-3pm',time_blocks._12pm_3pm)" :class="{ active: activetimes.indexOf('12pm-3pm') >= 0 ,'inactive': !time_blocks._12pm_3pm}" >
      <h4>{{ '12pm-3pm' }}</h4>
    </div>
    <div class="time" @click="toogleActive('3pm-6pm',time_blocks._3pm_6pm)" :class="{ active: activetimes.indexOf('3pm-6pm') >= 0,'inactive': !time_blocks._3pm_6pm }" >
      <h4>{{ '3pm-6pm' }}</h4>
    </div>
    <div class="time" @click="toogleActive('6pm-9pm',time_blocks._6pm_9pm)" :class="{ active: activetimes.indexOf('6pm-9pm') >= 0 ,'inactive': !time_blocks._6pm_9pm}">
      <h4>{{ '6pm-9pm' }}</h4>
    </div>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      activetimes: [],
      show:true,
      data:''
    };
  },
  created(){

    if(this.$route.params.data){
      this.data=JSON.parse(this.$route.params.data);
    }
    this.generateDate();
    this.fetchTimeBlocks();
  },
  methods: {
    toogleActive(time,active) {
      if(active){
        this.activetimes = [];
        this.activetimes.push(time);
        this.$store.dispatch('setTimeBlock',time);
      }
    },
    fetchTimeBlocks(){
      this.activetimes=[];
      this.show=false;
      this.$store.dispatch('fetchTimeBlock',this.getData()).then(response=>{
        this.show=true;
      });
    },
    getData(){
      let data={
          date:"",
          pickup_zone_id:"",
          office_id:"",
          type:"",
        }
      if(this.data.date){
        data.date=this.date;
        data.pickup_zone_id=this.data.pickup_zone_id;
        data.office_id=this.data.office_id;
        data.type=this.data.type;
      }else{
        data.date=this.date;
        data.pickup_zone_id=this.$route.params.pickup_zone_id;
        data.office_id=JSON.parse(this.$route.params.travel_data).office_id;
        data.type=this.$route.params.type;
      }

      return data;

    },
    checkAvalibility(){
      if(this.activetimes[0]){
        this.show=false;
        
        // this.$router.push('./reservation/')
        let router=this.$router;
        this.$store.dispatch('checkTimeBlockAvalibility',this.getAvailabilityData())
        .then(response=>{
          if(response!="no unit Avalible for this time block"){
            if(this.data){
              this.data.time_block=this.activetimes[0];
              this.data.schedule_data=response;
              this.data.date=this.date;
              this.$store.dispatch('updateReservation',this.data)
                .then(response=>{
                  router.push('/full/success/'+response)
                });

            }else{
              this.redirect(response)
            }
          }else{
            this.show=true;
          }
        }).catch(error=>{console.log(error)});
      }
    },
    getAvailabilityData(){
      if(this.data){
        let data={
          type:this.data.type,
          timeblock:this.activetimes[0],
          date:this.date,
          dropoff_lat:this.data.dropoff_lat,
          dropoff_lng:this.data.dropoff_lng,
          office_id:this.data.office_id,
          package_id:this.data.package_id
        }

        return data;
      }else{
        let data={
          type:this.$route.params.type,
          date:this.date,
          timeblock:this.activetimes[0],
          dropoff_lat:JSON.parse(this.$route.params.dropoff).lat,
          dropoff_lng:JSON.parse(this.$route.params.dropoff).lng,
          office_id:JSON.parse(this.$route.params.travel_data).office_id,
          package_id:this.$route.params.package_id
        }
        return data;
      }
      
    },
    generateDate(){
      if(this.$route.params.data){
        this.data=JSON.parse(this.$route.params.data);
        var curr = new Date();
        var date=this.data.date.split('-');
        curr.setFullYear(date[2],date[1]-1,date[0]);
        curr=new Date(curr.setDate(curr.getDate() +1));
        curr=this.formateDay(curr.getDate())+'/'+this.formateDay(curr.getMonth()+1)+'/'+curr.getFullYear();        
        this.$store.dispatch('setDate',curr);
      }else{
        let date=new Date();
        date.setDate(date.getDate()+1);
        date=this.formateDay(date.getDate())+'/'+this.formateDay(date.getMonth()+1)+'/'+date.getFullYear();
        this.$store.dispatch('setDate',date);
      }
    },
    formateDay(day){
      return (day<10)?'0'+day:day;
    },
    redirect(response){
      let date=this.date.replace('/','-').replace('/','-');

      let data={
        new_distance:response.new_distance,
        new_duration:response.new_duration,
        next_reservation_id:response.next_reservation_id,
        pre_schedule_id:response.pre_schedule_id,
        unit_id:response.unit_id,
        date:date,
        time_block:this.activetimes[0]
      }
      if(localStorage.getItem('access_token')){
        this.$router.push('./reservation/'+JSON.stringify(data)+'/personalInfoform');
      }else{
        this.$router.push('./reservation/'+JSON.stringify(data)+'/signup');
      }
    } 
  },
  watch:{
    date(){
      this.fetchTimeBlocks();
    }
  },
  computed:{
    time_blocks(){
      return this.$store.state.time_blocks;
    },
    date(){
      return this.$store.state.time_block_date;
    },
    user(){
      return this.$store.state.user
    }
  }
}
</script>

<style lang="scss" scoped>
.inactive h4{
  text-decoration: line-through!important;
  color: rgba(27,30,51,.15)!important;
}
.inactive{
  border:solid 2px #f2f2f2!important;
  background-color:white!important;
  cursor: not-allowed!important;
}
.times {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  font-family: "Nunito", sans-serif;
  margin-top: 50px;
  margin-bottom: 60px;
  @media (max-width: 510px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .time:hover{
    border: 2px solid #f27f0b;
    color:#ec8c2c;
    h4 {
        color: #ec8c2c;
      }
  }
  .time {
    transition:all 0.5s ease;
    padding: 15px;
    background-color: #f2f2f2;
    cursor:pointer;
    // height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
    border-radius: 4px 0px 0px 0px;

    h4 {
      color: #545454;
    }
    &.active {
      background: #f27f0b;
      h4 {
        color: #fff;
      }
      h5 {
        color: #fff;
      }
    }
    &.active :hover{
      background: #f27f0b!important;
      h4 {
        color: #fff!important;
      }
      h5 {
        color: #fff!important;
      }
    }
    &.disabled {
      h4 {
        color: rgba(0, 0, 0, 0.25);
      }
      h5 {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  .center_out img{
    margin:50px;
  }
</style>