<template>
    <div class="m-4 animation" style="text-align:center" >
        <div class="book_service" v-if="customerReservation.length<=0">
            <h6 class="note">No Booking to show</h6>
            <router-link to="/" class="book_btn" text depressed>Book a service</router-link>
        </div>
        <div>
            <h1>Active Reservations</h1>
            <ATable :reservations="customerReservation" :type="'active'"/>
            <h1>Closed Reservations</h1>
            <ATable :reservations="customerReservation" :type="'close'"/>
        </div>
    </div>            
</template>
<script>
import ATable from "./components/Activetable";
export default {
  components: {
      ATable
  },
  created(){
      this.fetchCustomerReservations();
  },
  data() {
    return {
      show: false,      
    }
  },
  methods: {
    fetchCustomerReservations(){
        this.$store.dispatch('fetchCustomerReservations')
    }
  },
  computed:{
      customerReservation(){
        return this.$store.state.customer_reservations;
      }
  }
}
</script>