<template>
    <div class="m-4 animation">
        <v-simple-table id="p__table">
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left">Reservation #</th>
                    <th class="text-left">Deposit Amount</th>
                </tr>
                </thead>
                <tbody >
                <tr v-for="item in payments" :key="item.id" >
                    <td style="text-align:center">{{ item.id }}</td>
                    <td style="text-align:center">${{ item.amount }}</td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>
<script>
export default {
    data() {
    return {
      
    }
  },
  created(){
      this.fetchPayments();
  },
  methods:{
      fetchPayments(){
          this.$store.dispatch('fetchPayments');
      }
  },
  computed:{
      payments(){
          return this.$store.state.payments;
      }
  }
}
</script>