<template>
  <div class="ml-4 animation">
    <v-card style="margin-bottom:24px;">
      <v-card-text>
      <h1 style="margin-bottom:10px">
        Profile Info 
        <v-btn class="mx-2" to="./edit-profile" fab dark x-small color="cyan" style="float:right;background-color:#F27F0B">
          <v-icon dark>
            mdi-pencil
          </v-icon>
        </v-btn>
      </h1> 
      <v-simple-table>
          <template v-slot:default>
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{profile.first_name}} {{profile.last_name}}</td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td>{{profile.phone_number}}</td>
              </tr>
              <tr>
                <td>Mailing Address</td>
                <td>{{profile.mailing_address}}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
    <v-card >
      <v-card-text>
        <h1 style="margin-bottom:10px">
          Sign In Credientials
          <v-btn class="mx-2" to="./edit-user" fab dark x-small color="cyan" style="float:right;background-color:#F27F0B">
            <v-icon dark>
              mdi-pencil
            </v-icon>
          </v-btn>
        </h1>
        <v-simple-table>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>User Name</td>
                  <td>{{user.name}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>**************</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
    data() {
    return {
      show: false,
      
    }
  },
  computed:{
    profile(){
      return this.$store.state.profile;
    },
    user(){
      return this.$store.state.user
    }
  }
}
</script>
