<template>
  <div class="t_data">
    <p>Reservation # {{reservation.reservation.id}}</p>
    <div class="view_btn" text depressed>Reservation Status: {{reservation.reservation.status}}</div>
    <div class="appointments">

      <div class="m_appointment">
        <Appointment :schedule="reservation.delivery_schedule" :type="'Delivery'" @schedulePickup="schedulePickup"/>
      </div>

      <div class="d_appointment">
        <Appointment :schedule="reservation.pickup_schedule" :type="'Pickup'" @schedulePickup="schedulePickup"/>
      </div>
    </div>
  </div>
</template>

<script>
import Appointment from './components/Appointment'
export default {
  components:{Appointment},
  created(){
    this.fetchReservation()
  },
  methods:{
    fetchReservation(){
      this.$store.dispatch('fetchCustomerReservation',{reservation_id:this.$route.params.reservation_id});
    },
    schedulePickup(){
      let data={
        date:this.reservation.reservation.date.replace('/','-').replace('/','-'),
        pickup_zone_id:this.reservation.pickup_schedule.zone_id,
        package_id:this.reservation.reservation.package_id,
        office_id:this.reservation.reservation.office_id,
        dropoff_lat:this.reservation.dropoff_schedule.address_lat,
        dropoff_lng:this.reservation.dropoff_schedule.address_lng,
        type:'pickup',
        pickup_schedule_id:this.reservation.pickup_schedule.id,
        dropoff_schedule_id:this.reservation.dropoff_schedule.id,
        pickup_address:this.reservation.pickup_schedule.address,
        dropoff_address:this.reservation.dropoff_schedule.address,
        time_block:'',
        schedule_data:'',
      }
      this.$router.push('/estimate/maps/'+JSON.stringify(data));
    }
  },
  computed:{
    reservation(){
      return this.$store.state.customer_reservation;
    }
  }
}
</script>

<style lang="scss" scoped>
.t_data {
  //   background-color: red;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  //   border: 2px solid #000;
  flex-direction: column;
  align-items: center;
  //   height: 50vh;
  font-family: "Nunito", sans-serif;
  padding: 10px 20px;
  p {
    margin-bottom: 15px;
  }
  .appointments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    width: 100%;
    margin-top: 40px;
    @media (max-width: 830px) {
      border-bottom: 1px solid #000;
      grid-template-columns: 1fr;
    }
    .m_appointment {
      //   background-color: #f27f0b;
      //   height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      //   justify-content: center;
      width: 100%;
      .m_content {
        // width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
      }
    }
    .d_appointment {
      border-right: 1px solid #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      @media (max-width: 830px) {
        border: none;
        border-bottom: 1px solid #000;
      }
      .btns {
        display: flex;
        flex-direction: column;
        // align-items: center;
        width: 80%;
        .s_btn {
          display: flex;
          margin: 5px;
          .date_btn {
            padding: 10px;
            max-width: 100px;
            margin-left: 10px;
            background: none !important;
            border: none !important;
            color: #000;
            letter-spacing: 0 !important;
            background-color: #ddd !important;
            width: 100px;
          }
          .v-list-item__icon {
            margin: 0 !important;
            align-self: center !important;
          }
          .v-list-item__content {
            margin-right: 15px;
          }
          .v-list-item__title {
            // text-align: center;
            // width: 50px;
            // background-color: red;
          }
        }
      }
    }
  }
}

.book_btn,
.date_btn,
.view_btn {
  background-color: #f27f0b !important;

  font-style: normal;
  //   align-self: flex-start;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  max-width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  border: 1px solid #f27f0b;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none !important;
  //   letter-spacing: 0 !important;
  text-transform: capitalize;

  span {
    margin-right: 5px;
  }
}
a {
  text-decoration: none !important;
}
.view_btn {
  max-width: 300px;
  height: 40px;
  font-size: 0.875rem;
  font-size: 17px;
}
.date_btn {
  max-width: 90px;
  height: 30px;
  font-size: 0.875rem;
  //   font-size: 17px;
  width: 100%;
}
.book_btn {
  margin-bottom: 10px;
}
</style>