<template>
  <div class="main_cards">
    <div class="alert" v-if="message">We haven't expanded that far yet. Send us a note at our email and tell us where to go next.</div>
    <div class="main_card" v-for="(category, i) in categories" :key="i" @click="redirect(category.id,category.name)">
      <span >
        <img :src="category.icon" alt="" style="width:50px;">
      </span>
      <h4>{{ category.name }}</h4>
      <span>
        <span>
          <img src="/vectors/categories/2.svg" alt="">
        </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  created(){
    this.getCategories();
  },
  props:['message'],
  methods:{
    getCategories(){
      this.$store.dispatch('getCategories');
    },
    redirect(id,category){
      if(this.confirm){
        this.$router.push(`./packages/${this.pickupZoneId}/${this.dropoffZoneId}/${id}/${category}`);
      }
    }
  },
  computed:{
    categories(){
      return this.$store.state.categories
    },
    confirm(){
      return this.$store.state.zoneConfirm;
    },
    pickupZoneId(){
      return this.$store.state.zone.pickup_zone_id;
    },
    dropoffZoneId(){
      return this.$store.state.zone.dropoff_zone_id;
    }
  }
};
</script>

<style lang="scss" scoped>
.main_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
  @media (max-width: 760px) {
    margin-bottom: 20px;
  }
  .main_card {
    flex: 0 0 calc(50% - 3px);
    max-width: calc(50% - 3px);
    width: 100%;
    background: #f27f0b;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    @media (max-width: 560px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
    h4 {
      margin: 15px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 29px;

      color: #ffffff;
    }
  }
   .main_card:hover{
    background-color: #ff9123;
    cursor:pointer;
  }
  .alert{
    margin:20px 0px;
    background-color: rgb(247, 73, 71);;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding: 12px;
    position: relative;
    color:white;
    z-index: 1000;
  }
}
.custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
// Piper Glen Estates, Charlotte, NC 28277, USA

// Swift Ave, Durham, NC 27701, USA

// Swift Ave, Durham, NC 27701, USA

// Kershaw South Carolina 29067 USA

// North Carolina 27703 USA

// Bladen County North Carolina USA


// http://127.0.0.1:8000/#/estimate/maps/{%22lat%22:36.0024809,%22lng%22:-78.9216196,%22address%22:%22Swift%20Ave,%20Durham,%20NC%2027701,%20USA%22,%22zipcode%22:%2227701%22}/{%22lat%22:34.5518201,%22lng%22:-80.5836836,%22address%22:%22Kershaw,%20SC%2029067,%20USA%22,%22zipcode%22:%2229067%22}/packages/1/2/1/schedule/{%22office_id%22:2,%22office_distance%22:196441,%22office_duration%22:7058,%22distance%22:266663,%22duration%22:10620}/1/rules























// Assign Driver

// Driver Dashboard tuning with single reservation 

// Leave time

// Driver Profile




// Customer Dashboard

</style>

