<template>
          <!-- :zoom="'auto'" -->
  <div class="main_map">
      <gmap-map 
          ref="gmap"
          :center="center"
          :title="'Asset 1'"
          :disableDefaultUI="true"
          :mapTypeId="'terrain'"
          style="width:100%;  height: 400px;"
        >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m"
        :icon="{ url: '/vectors/location.svg'}" 
      ></gmap-marker>
      <!-- <gmap-polyline 
        v-bind:path.sync="path" 
        v-bind:options="{ strokeColor:'rgb(34, 33, 33)'}">
        </gmap-polyline>     -->
    </gmap-map> 
  </div>
</template>

<script>
import {gmapApi} from 'vue2-google-maps'
import axios from 'axios'
export default {
  // components:{GmapMap, GmapMarker},
  mounted() {
      this.pickup=JSON.parse(this.$route.params.pickup);
      this.dropoff=JSON.parse(this.$route.params.dropoff);

      this.center=this.setcenter();
      this.markers.push(this.pickup);
      this.markers.push(this.dropoff);

      //set bounds of the map

      this.$refs.gmap.$mapPromise.then((map) => {
        this.path.push(new google.maps.LatLng(this.pickup.lat ? this.pickup : { lat: 0, lng: 0 }));
        this.path.push(new google.maps.LatLng(this.dropoff.lat ? this.dropoff : { lat: 0, lng: 0 }));
        
        const bounds = new google.maps.LatLngBounds()
        for (let m of this.markers) {
          bounds.extend(m)
        }
        map.fitBounds(bounds);


        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);
        this.calculateAndDisplayRoute(directionsService, directionsDisplay);
        
        // var onChangeHandler = function() {
        // };
        // document.getElementById('start').addEventListener('change', onChangeHandler);
        // document.getElementById('end').addEventListener('change', onChangeHandler);
      });
    },
  computed: {
    google: gmapApi
  },
  // 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=40.6655101,-73.89188969999998&destinations='+'40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.659569%2C-73.933783%7C40.729029%2C-73.851524%7C40.6860072%2C-73.6334271%7C40.598566%2C-73.7527626%7C40.659569%2C-73.933783%7C40.729029%2C-73.851524%7C40.6860072%2C-73.6334271%7C40.598566%2C-73.7527626&key=AIzaSyAhN31rb1mb4ejPcZiAqqjtrjOly3l960g'
  methods:{
    setcenter(){
        let lat= (parseFloat(this.pickup.lat)+parseFloat(this.dropoff.lat))/2;
        let lng= (parseFloat(this.pickup.lng)+parseFloat(this.dropoff.lng))/2;
        
        return {
          lat:lat,
          lng:lng
        }
    },
    calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: this.pickup.address,
          destination: this.dropoff.address,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            console.log(response);
            directionsDisplay.setOptions( { suppressMarkers: true } );
            directionsDisplay.setDirections(response);
            // this.markers.forEach(position=>{
            //   var marker=  new google.maps.Marker({
            //     position: position,
            //     map:map,
            //     icon: '/vectors/location.svg'
            //   });
            // })
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
    }
  },
  data() {
    return {
      center: {},
      markers: [],
      path:[],
      places: [],
      pickup:{},
      dropoff:{}
    }
  },
};
</script>

<style lang="scss" scoped>
.main_map {
  background-color: orange;
  height: 20vh;
  @media (max-width: 760px) {
    margin-bottom: 20px;
  }
}
</style>