<template>
    <div class="v-input theme--light v-text-field v-text-field--is-booted v-text-field--placeholder" style="margin:15px 0px">
        <div class="v-input__control">
            <div class="v-input__slot">
                <div class="v-input__prepend-inner">
                    <div class="v-input__icon v-input__icon--prepend-inner">
                        <img src="/vectors/location.svg" style="width:20px;" alt="">
                    </div>
                </div>
                <div class="v-text-field__slot">
                    <label for="dropoff-input" class="v-label v-label--active theme--light" style="">{{label}}</label>
                    <gmap-autocomplete @place_changed="setPlace" @keypress="message=''" id="dropoff-input" :placeholder="placeholder"></gmap-autocomplete>
                </div>
            </div>
            <div class="v-text-field__details">
                <div class="v-messages theme--light" style="position:absolute;">
                    <div class="v-messages__wrapper alert" v-if="message">
                        {{message}}   
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['placeholder','label'],
    data(){
        return {
            message:''
        }
    },
    methods:{
        setPlace(value){
            let code=null;
            for (var i = 0; i < value.address_components.length; i++) {
                for (var j = 0; j < value.address_components[i].types.length; j++) {
                    if (value.address_components[i].types[j] == "postal_code") {
                       code= value.address_components[i].long_name;
                    }
                }
            }
            if(!code){
                this.message='Can’t find this address Select a suggested address'
            }else{
                this.$emit('sendValue',value);
            }

        },
    }
}
// <div class="pac-container pac-logo" style="width: 475px;position: absolute;left: 0px;top: 21px;/* display: none; */"></div>
</script>
<style>
.pac-container{
    background-color:white!important;
    border-radius: 10px!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    margin-top: 8px!important;
    padding: 12px!important;
    /* position: absolute!important; */
    /* right: 0!important; */
    /* top: 100%!important; */
    z-index: 500!important;
    color:black!important;


}
.pac-logo:after {
    display:none;
}
.pac-item-selected{
    background-color: #F27F0B!important;
    color:white!important;
    border-radius: 3px!important;
}
.pac-item-selected span{
    color:white!important;
}
.pac-item span:focus{
    color:white!important;
}

.pac-icon{
    display:none!important;
}
.alert{
    background-color: rgb(247, 73, 71);;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding: 12px;
    position: relative;
    color:white;
    z-index: 1000;
}

</style>

