<template>
  <div class="signin_form" id="s_form">
    <h1>Sign up</h1>
    <form @submit.prevent="submit" @keydown="errors.clear($event.target.name)">
      <v-row>
        <v-col style="padding:40px;">
          <v-text-field
            placeholder="Enter Name"
            label="Name"
            name="name"
            v-model="user.name"
            :error-messages="errors.get('name')"
            :error="errors.has('name')"
          ></v-text-field>

          <v-text-field

            placeholder="Enter Email"
            label="Email"
             id="Email"
            v-model="user.email"
            name="email"
            :error-messages="errors.get('email')"            
            :error="errors.has('email')"
          ></v-text-field>

          <v-text-field
            placeholder="Enter Password"
            label="Password"
            
            append-icon="mdi-eye"
            id="custom"
            name="password"
            type="password"
            v-model="user.password"
            :error="errors.has('password')"
            :error-messages="errors.get('password')"
          ></v-text-field>

          <v-text-field
            placeholder="Enter Password Confirmation"
            label="Confirm Password"
            
            
            type="password"
            name="password_confirmation"
            :error="errors.has('password_confirmation')"
            v-model="user.password_confirmation"
            :error-messages="errors.get('password_confirmation')"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-btn type="submit"  text>Register</v-btn>
      <p  style="padding:20px;">
        Already have an account ?
        <router-link to="./login">Sign in</router-link>
      </p>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errors:new Errors(),
      user:{
        name:'',
        email:'',
        password:'',
        password_confirmation:''
      }
    }
  },
  methods: {
    submit(){
      
        this.$store.dispatch('register',this.user)
        .then(response=>{
          this.$router.push('./login');
          this.reset();

        }).catch(errors=>{
          this.errors.record(errors.response.data);
          
        })
      
    },
    reset(){
      this.user={
        name:'',
        email:'',
        password:'',
        password_confirmation:''
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.signin_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;

    color: #000000;
  }

  form {
    max-width: 420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #f1f1f1;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    .v-input input {
      padding: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    i.v-icon.v-icon {
      color: #f27f0b;
      margin-top: 7px;
    }
    .v-input__slot .v-label {
      color: #f27f0b !important;
      margin-bottom: 7px;
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
    }
    .v-text-field input {
      margin-top: 7px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    .v-btn {
      background: #f27f0b;
      border: 1px solid #f27f0b;
      font-family: "Nunito", sans-serif;
      max-width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      margin: auto;
      width: 100%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      margin-top: -10px;
      margin-bottom: 16px;
      font-weight: bold;
      transition: .3s linear;
      &:hover{
        background-color: #fff;
        color: #f27f0b;
       
      }
    }
    p {
      margin: 0;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 23px;

      color: #545454;

      a {
        text-decoration: none;
        color: rgba(45, 91, 204, 1);
      }
    }
  }
}
</style>