<template>
  <v-card style="margin:10px;">
    <v-card-title>
      Reservations
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
      :headers="headers"
      :items="reservations"
      :search="search"
    >
    <template v-slot:item.service_type="{ item }">
      <v-chip
        :color="getTypeColor(item.service_type)"
        dark
      >
        {{ item.service_type }}
      </v-chip>
    </template>
    <template v-slot:item.status="{ item }">
      <v-chip
        :color="getColor(item.status)"
        dark
        @click="addNote(item.id,'Add')"
      >
        {{ item.status }}
      </v-chip>
    </template>
    <template v-slot:item.actions="{ item }">
          <v-btn
              @click="addNote(item.id,'Show',item.schedule_status)"
              class="orange white--text"
            >
              View Status
            </v-btn>
    </template>

  </v-data-table>

  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card >
        <v-card-title>
          <span class="headline">{{dialog_type}} Status</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row v-if="dialog_type=='Add'">
              
              <v-col
                cols="12"
              >
                <v-textarea
                    placeholder="Note"
                    auto-grow
                    label="Note"
                    v-model="note"
                ></v-textarea>
              </v-col>
              
              <v-col
                cols="12"
              >
                <v-select
                  :items="['pending', 'on_route', 'schedule', 'arrived','issue','canceled','complete']"
                  label="Status"
                  v-model="status"
                  required
                ></v-select>
              </v-col>
            </v-row>
              <v-simple-table v-if="dialog_type=='Show'">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        Date
                      </th>
                      <th class="text-left">
                        Status
                      </th>
                      <th class="text-left">
                        Time
                      </th>
                      <th class="text-left">
                        Note
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="status in schedule_status"
                      :key="status.id"
                    >
                      <td>{{ status.date }}</td>
                      <td>
                        <v-chip :color="getColor(status.status)" dark>
                          {{ status.status }}
                        </v-chip>
                      </td>
                      <td>{{ status.time }}</td>
                      <td>{{ status.note }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="changeStatus()"
            v-if="dialog_type=='Add'"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</v-card>
  
</template>
<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: 'Reservation #',
            align: 'start',
            sortable: false,
            value: 'reservation_id',
          },
          { text: 'Appointment Date', value: 'date' },
          { text: 'Customer Name', value: 'customer_name' },
          { text: 'Phone', value: 'phone_no' },
          { text: 'Appointment Block', value: 'time_block' },
          { text: 'Service Type', value: 'service_type' },
          { text: 'Service Status', value: 'status' },
          { text: 'Appointment Address', value: 'address' },
          { text: 'Travel Time', value: 'travel_time' },
          { text: 'Est Arrival Time', value: 'est_time_arrival' },
          { text: 'Service Time', value: 'service_time' },
          { text: 'Est Time Complete', value: 'est_time_complete' },
          { text: 'Max Leave Time', value: 'max_leave_time' },
          { text: 'note', value: 'note' },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
        dialog:false,
        status:'',
        note:'',
        id:'',
        schedule_status:[],
        dialog_type:""
      }
    },
    created(){
        this.fetchReservations()
    },  
    methods:{
        fetchReservations(){
            this.$store.dispatch('getReservation',{user_id:this.user.id,date:this.$route.params.date.replace('-','/').replace('-','/')});
        },

         getColor (status) {
            let color=null;
            switch(status){
                case 'pending':
                    color='yellow'
                break;
                case 'on_route':
                    color="blue-grey lighten-2";
                break;
                case 'scheduled':
                    color="orange";
                break;
                case 'arrived':
                    color="indigo darken-4";
                break;
                case 'issue':
                    color="blue darken-1";
                break;
                case 'canceled':
                    color="red darken-1";
                break;
                case 'complete':
                    color="green darken-3";
                break;
            }
            return color;
        },
        addNote(id=null,type=null,statuses){
          this.dialog=true;
          if(type=='Add'){
            this.id=id;
            this.dialog_type='Add';
          }else{
            this.schedule_status=statuses;
            this.dialog_type='Show';
          }
        },
        getTypeColor(type){
          let color=null;
          switch(type){
                case 'pickup':
                    color='red darken-1'
                break;
                case 'delivery':
                    color="blue darken-1";
                break;
                case 'dropoff':
                    color="green darken-1";
                break;
            }
            return color;
        },
        changeStatus(){
            if(this.status&&this.note){
                this.$store.dispatch('changeStatus',{
                    note:this.note,
                    status:this.status,
                    id:this.id
                }).then(Response=>{
                    this.dialog=false;
                    this.note="";
                    this.status="";
                });
            }
        }
    },
    computed:{
        user(){
            return this.$store.state.user;
        },
        reservations(){
            return this.$store.state.date_reservation
        }
    }
  }
</script>
<style scoped>

.v-data-table__wrapper{
  min-height: 60vh!important;
}
</style>