<template>
    <v-card style="margin:35px;">
      <v-card-text>
          <h1 style="margin-bottom:10px">
            Edit Profile
          </h1>
          <br>
        <form class="ml-4 animation" style="margin-to:30px" @submit.prevent="updateUser">

            <v-text-field label="User Name" v-model="user.name" :error-messages="errors.get('name')" required></v-text-field>

            <v-text-field label="Email" v-model="user.email" :error-messages="errors.get('email')" required></v-text-field>

            <v-text-field label="Old Password" autocomplete="none" type="password" v-model="user.old_password" :error-messages="errors.get('old_password')" required></v-text-field>

            <v-text-field label="New Password" autocomplete="none" type="password" v-model="user.password" :error-messages="errors.get('password')" required></v-text-field>

            <v-btn depressed class="book_btn" type="submit"> Save</v-btn>
        </form> 
      </v-card-text>
    </v-card>
</template>
<script>
export default {
    created(){
        this.id=this.u.id;
        this.user.name=this.u.name;
        this.user.email= this.u.email;
    },
    data(){
        return {
            user:{
                name:'',
                email:'',
                old_password:'',
                password:''
            },
            id:'',
            errors:new Errors()
        }
    },
    methods:{
        updateUser(){
            this.$store.dispatch('updateUser',{user:this.user,user_id:this.id})
                .then(response=>{
                    this.$router.push('./profile');
                    this.$store.dispatch('setAlert','Your sign in credentials has been Updated');
                })
                .catch(errors=>{
                    this.errors.record(errors.response.data);
                });
        }
    },
    computed:{
        u(){
            return this.$store.state.user;
        }
    }
}
</script>
<style scoped>
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #f27f0b !important;
    color: #fff !important;
}
.v-messages__message{
    color: red;
}
</style>