<template>
  <div class="ml-4 animation">
    <v-card style="margin:20px;">
      <v-card-text>
        <h1 style="margin-bottom:10px">
          User Profile
          <v-btn class="mx-2" to="./edit-driver" fab dark x-small style="float:right;background-color:#F27F0B">
            <v-icon dark>
              mdi-pencil
            </v-icon>
          </v-btn>
        </h1>
        <v-simple-table>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>User Name</td>
                  <td>{{user.name}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>**************</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
    data() {
    return {
      show: false,
      
    }
  },
  computed:{
    profile(){
      return this.$store.state.profile;
    },
    user(){
      return this.$store.state.user
    }
  }
}
</script>
