<template>
  <div class="home">
    <Navbar></Navbar>
    <section class="estimate" id="cdashboard">
      <v-container>
        <v-row class="customer">
          <v-tabs vertical center-active>
            <v-tab v-if="show" :class="[show ? 'd-none' : '']">
              Services
            </v-tab>
            <!-- <router-link > -->
              <v-tab to="/dashboard/customer/my-reservation">My Reservation</v-tab>
            <!-- </router-link>   -->
            <!-- <router-link > -->
              <v-tab to="/dashboard/customer/profile">My Profile</v-tab>
            <!-- </router-link>     -->
            <!-- <router-link > -->
              <v-tab to="/dashboard/customer/payment-info"> Payment Info</v-tab>
            <!-- </router-link>  -->
          </v-tabs>
          <div class="content">
            <v-alert dense border="left" type="success" class="animation" v-if="alert.show">
            {{alert.message}}
            </v-alert>
            <router-view></router-view>
          </div>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import Navbar from "../components/Hero/Navbar2";
import ATable from "../components/Dashboard/components/Activetable";
export default {
  components: {
    Navbar,
    ATable,
  },
  data() {
    return {
      show: false,
      hideTable: true,
    }
  },
  methods: {
    viewDetail(item) {
      this.sData = "";
      this.sData = item;
      this.hideTable = false;
      console.log(this.sData);
    },
  },
  computed:{
    alert(){
      return this.$store.state.alert;
    }
  }
};
</script>

<style lang="scss" scoped>
.estimate {
  margin-top: 40px;
  font-family: "Nunito", sans-serif;
  .book_service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h6 {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  .d-none {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
  .book_btn,
  .view_btn {
    background-color: #f27f0b !important;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #ffffff;
    max-width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    border: 1px solid #f27f0b;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none !important;
  }
  a {
    text-decoration: none !important;
  }
  .view_btn {
    max-width: 100px;
    height: 30px;
    font-size: 0.875rem;
  }
  h1 {
    text-align: center;
  }
  form {
    // max-width: ;
    max-width: 700px;
    margin: auto;
  }
}
.customer{
  display:flex;
  // justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
}
.customer .content{
  flex:1 1 auto;
}
.customer .v-tabs{
  display:flex;
  flex:0 1 400px;
}
.theme--dark.v-sheet {
    background-color: #f27f0b;
    border-color: #f27f0b;
    color: #fff;
}
</style>
