<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
    <v-list-item>
        <v-list-item-avatar>
          <v-img src="/images/avatar/avatar.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{user.name}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        
        <v-list-item  link to="/dashboard/driver/index">
          <v-list-item-icon >
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/dashboard/driver/profile" >
          <v-list-item-icon>
            <v-icon >mdi-account</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Profile</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-btn depressed to="/" class="orange white--text" style="float:right;position: absolute;right:20px;"> Home </v-btn>
    </v-app-bar>

    <v-main>
        <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    data(){
        return{
            drawer: null,
            right: null, 
            active:''
        }
    },
    created(){
        this.$store.dispatch('getUser');
    },
    computed:{
        user(){
            return this.$store.state.user
        }

    }
  }
</script>
