<template>
    <div class="home">
        <Hero></Hero>
        <Delievries></Delievries>
        <Clients></Clients>
        <Truck></Truck>
        <Benefits></Benefits>
        <Lugger></Lugger>
    </div>
</template>

<script>
import Hero from "../components/Hero/Hero";
import Delievries from "../components/Deliveries";
import Clients from "../components/client";
import Truck from "../components/Truck";
import Lugger from "../components/Lugger";
import Benefits from "../components/Benefits";
export default {
    components: {
        Hero,
        Delievries,
        Clients,
        Truck,
        Benefits,
        Lugger
    }
};
</script>

<style lang="scss">
#hero label {
    position: absolute;
    font-size: 26px;
    left: -47px;
    top: -6px;
}
#s_form .v-label,
#l_form .v-label
 {
    color: #f27f0b !important;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    font-size: 26px;
    left: -10px !important;
    top: -6px !important;
    text-align: left;

    
}
#l_form .v-label{
   left: -35px !important;
   
}
#s_form .v-input,
#l_form .v-input
{
margin-bottom: 20px;
.v-messages__message{
  color: red !important;
}
}

</style>
