<template>
  <div class="home">
    <Navbar></Navbar>
    <section class="estimate">
      <v-container>
        <v-row>
          <v-list>
            <v-list-item>
              <v-list-item-action>
                  <v-btn
                    class="mx-2"
                    fab
                    dark
                    color="orange"
                    style="background-color:#F27F0B"
                    @click="goBack"
                  >
                  <svg style="width:30px;height:30px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z" />
                  </svg>
                </v-btn>
          </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-row>
        <v-row>
          <div class="estimate_title">
            <h1>Get an estimate</h1>
            <p>
              Tell us a bit about your move and we’ll help you calculate the
              cost.
            </p>
          </div>
        </v-row>
        <router-view></router-view>
      </v-container>
    </section>
  </div>
</template>

<script>
import Navbar from "../components/Hero/Navbar2";
export default {
  components: {
    Navbar,
  },
  methods:{
    goBack(){
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.estimate_title {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 70px;
  font-family: "Nunito", sans-serif;
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 53px;
    //   line-height: 72px;
    margin: 0;
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
    margin: 0;
  }
}
.v-btn.book_btn {
  background-color: #f27f0b !important;
  color: #fff !important;
  font-style: normal;
  font-weight: normal;
  //   font-size: 17px;
  color: #ffffff;
  margin-left: 10px;
  // margin-top: 50px;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
</style>
