<template>
  <div class="forms">
    <Navbar></Navbar>
    <section class="pkg_form">
        <router-view></router-view>
        <Package/>
    </section>
  </div>
</template>

<script>
import Package from '../components/Forms/Package';
import Navbar from "../components/Hero/Navbar3";
export default {
  components: {
    Navbar,
    Package
  },
};
</script>

<style lang="scss" scoped>
.forms {
  margin: 10px 0;

  .pkg_form {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 30px;
    column-gap: 100px;
    row-gap: 30px;
    font-family: "Nunito", sans-serif;
    @media (max-width: 740px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 470px) {
      grid-template-columns: 1fr;
      width: 100%;
    }
    @media (max-width: 470px) {
      padding: 0px;
    }
  }
}
</style>
