<template>
  <div class="map_cards">
    <Category v-bind:message="message"></Category>
    <Map></Map>
    
  </div>
</template>
<script>
import Category from "./Estimate/Category";
import Map from "./Estimate/Map";
export default {
  components: {
    Category,
    Map,
  },
  data() {
    return {
        pickup_zipcode:'',
        dropoff_zipcode:'',
        pickup_zone_id:'',
        dropoff_zone_id:'',
        message:''
    }
  },
  created(){
    this.pickup_zipcode=JSON.parse(this.$route.params.pickup).zipcode;
    this.dropoff_zipcode=JSON.parse(this.$route.params.dropoff).zipcode;
    this.confirmZipCode();
  },
  methods:{
    confirmZipCode(){
      this.$store.dispatch('confirmZipCode',{
        pickup_zipcode:this.pickup_zipcode,
        dropoff_zipcode:this.dropoff_zipcode
      }).then(response=>{
        this.message=(!(response.pickup_confirm&&response.dropoff_confirm))?true:false;
      })
    }
  }
};
</script>

<style lang="scss" scoped>
.map_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 55px;
  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}
</style>
