<template>
    <div class="container">
        <div class="cards-flex">
            <div class="card">
                <ImgCard :pack="selected_package" />
            </div>
            <div class="card">
                <Map></Map>
            </div>
            <div class="card">
                <AddressCard />
            </div>
            <div class="card">
                <DetailCard />
            </div>
            <div class="card">
                <BulkyItemCard v-bind:pack="selected_package" ref="bulkyItemCard"/>
            </div>
            <div class="card">
                <QuestionCard/>
            </div>
        </div>
        <div class="center_out">
            <button class="book_btn" @click="redirect()" text depressed>Check Availability</button>
        </div>
    </div>
</template>

<script>
import Card from './PackageCard/Card'
import Map from "./FullPackageCard/Map";
import AddressCard from './FullPackageCard/AddressCard'
import DetailCard from './FullPackageCard/DetailCard'
import QuestionCard from './FullPackageCard/QuestionCard'
import ImgCard from './FullPackageCard/ImgCard'
import BulkyItemCard from './FullPackageCard/BulkyItemCard'
    export default {
        mounted() {
            console.log('Component mounted.')
        },  
        created(){
            this.fetchPackage();
        },
        components:{ImgCard,Map,AddressCard,DetailCard,BulkyItemCard,QuestionCard},
        methods:{
            fetchPackage(){
                this.$store.dispatch('fetchPackage',this.$route.params.package_id);
            },
            redirect(){
                this.$refs.bulkyItemCard.redirect();
            }
        },
        computed:{
            selected_package(){
                return this.$store.state.selected_package;
            }
        }
    }
</script>
<style lang="scss" scoped>
.cards-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        width: 359px;
        margin: 6px;
        min-height:300px;
        display: flex;
        flex-direction: column;
        border-radius:10px;
    }
}
.center_out{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  .book_btn {
  background-color: #f27f0b !important;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #ffffff;
  max-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 30px;
  margin: auto;
  border: 1px solid #f27f0b;
  box-sizing: border-box;
  border-radius: 4px;
}
</style>