<template>
<div>
  <div class="center_out"  style="width:100%;" v-if="this.$store.state.packages.length==0">
    <img src="/images/preloader/orange-circle.svg" alt="" >
  </div>
  <div class="main_packages" v-if="this.$store.state.packages.length!=0">
    <Card :pack="pack" :active_id="getActiveId(pack)" @redirect="redirect" @setActiveId="setActiveId" v-for="(pack,index) in packages" :key="index" />
  </div>
</div>
</template>

<script>
import Card from './PackageCard/Card'
export default {
  data() {
    return {
      show:true,
      active_id:'',
    }
  },
  components:{Card},
  created(){
    if(this.$store.state.packages.length==0){
       this.getPackages();
    }
  },

  methods:{
    getActiveId(pack){
      if(!this.activePackageId){
        this.$store.dispatch('setActivePackageId',pack.id);
        return pack.id;
      }
      return this.activePackageId;
    },
    setActiveId(id){
      this.active_id=id;
      this.$store.dispatch('setActivePackageId',id);
    },
    makeCardActive(id){
      if(this.active_id!=id){
        this.active_id=id;
      }
    },
    getPackages(){
      this.show=true;
      this.$store.dispatch('getPackages',{
                                          pickup_zone_id:this.$route.params.pickup_zone_id,
                                          category_id:this.$route.params.category_id,
                                          pickup:this.$route.params.pickup,
                                          dropoff:this.$route.params.dropoff
                                        })
                          .then(response=>{
                            this.show=false;
                            this.active_id=response[0].id;
                          })
                          .catch(errors=>{
                            this.show=false;
                          });
    },
    redirect(d){
      this.$store.dispatch("setSelectedPackage",d);
      let pack=d.pack;
      let data={
        "office_id":pack.office_id,
        "office_distance":pack.office_distance,
        "office_duration":pack.office_duration,
        "distance":pack.distance,
        "duration":pack.duration,
        "charge":d.charge,
        "bulky":d.bulky
      }
      this.$router.push('./schedule/'+JSON.stringify(data)+'/'+pack.id+'/delivery/full');
    }
  },
  computed:{
    packages(){
      return this.$store.state.packages;
    },
    activePackageId(){
      return this.$store.state.activePackageId;
    }
  }
}
</script>

<style lang="scss" scoped>
.main_packages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Nunito", sans-serif;
  column-gap: 50px;
  @media (max-width: 967px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

</style>