<template>
  <section class="forms">
    <v-container>
      <div class="pkg_form">
        <v-componet :is="formComponent"></v-componet>
        <Package></Package>
      </div>
    </v-container>
  </section>
</template>

<script>
import Package from "./Forms/Package";
import SignupForm from "./Forms/SignupForm";
import AccountConfirmForm from "./Forms/AccountConfirmForm";
import PersonalInfoForm from "./Forms/PersonalInfoForm";
import AdminContactForm from "./Forms/AdminContactForm";
import StripeForm from "./Forms/StripeForm";
export default {
  data() {
    return {
      login: true,
    };
  },
  methods: {
    toggleLogin() {
      this.login = !this.login;
      console.log(this.login);
    },
  },
  created(){
    let value=(this.$store.state.loggedIn)?'PersonalInfoform':'SignupForm'
    this.$store.dispatch('setFormComponent',value);
  },
  components: {
    Package,
    SignupForm,
    AccountConfirmForm,
    PersonalInfoForm,
    AdminContactForm,
    StripeForm,
  },
  computed:{
    formComponent(){
      return this.$store.state.form_component;
    }
  }
}
</script>

<style lang="scss" scoped>
.forms {
  margin: 60px 0;

  .pkg_form {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 30px;
    column-gap: 100px;
    row-gap: 30px;
    font-family: "Nunito", sans-serif;
    @media (max-width: 740px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 470px) {
      grid-template-columns: 1fr;
      width: 100%;
    }
    @media (max-width: 470px) {
      padding: 0px;
    }
  }
}
#s_form label{
  color: #f27f0b !important;
      margin-bottom: 7px;
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
}
</style>