<template>
    <div  class="package active" style="height:300px;">
        <h4>Pickup Address </h4>
        <h4><svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >

                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9 0C4.02429 0 0 3.82556 0 8.55556C0 14.9722 9 22 9 22C9 22 18 14.9722 18 8.55556C18 3.82556 13.9757 0 9 0ZM9 12.2222C11.1302 12.2222 12.8571 10.5806 12.8571 8.55556C12.8571 6.53052 11.1302 4.88889 9 4.88889C6.86976 4.88889 5.14286 6.53052 5.14286 8.55556C5.14286 10.5806 6.86976 12.2222 9 12.2222Z"
                  fill="#F1F1F1"
                />
              </svg> {{pickup_address}}</h4>
                    <br>
                <h4>Dropoff Address </h4>
                <h4><svg
                width="18"
                height="22"
                viewBox="0 0 18 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >

                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9 0C4.02429 0 0 3.82556 0 8.55556C0 14.9722 9 22 9 22C9 22 18 14.9722 18 8.55556C18 3.82556 13.9757 0 9 0ZM9 12.2222C11.1302 12.2222 12.8571 10.5806 12.8571 8.55556C12.8571 6.53052 11.1302 4.88889 9 4.88889C6.86976 4.88889 5.14286 6.53052 5.14286 8.55556C5.14286 10.5806 6.86976 12.2222 9 12.2222Z"
                  fill="#F1F1F1"
                />
              </svg> {{dropoff_address}}</h4>
    </div>
</template>
<script>
export default {
    computed:{
        pickup_address(){
        return (this.$route.params.data)
                ?JSON.parse(this.$route.params.data).pickup_address
                :JSON.parse(this.$route.params.pickup).address;
        },
        dropoff_address(){
        return (this.$route.params.data)
                ?JSON.parse(this.$route.params.data).dropoff_address
                :JSON.parse(this.$route.params.dropoff).address;
        }
    }
}
</script>
<style lang="scss" scoped>
.package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f27f0b;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius:5px;
  h4 {
      text-align: center;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
}
.v-btn.book_btn {
  background-color: #f27f0b !important;
  color: #fff !important;
  font-style: normal;
  font-weight: normal;
  //   font-size: 17px;
  color: #ffffff;
}
.package {
  .package_bottom {
    display: none;
  }
  .package_top {
    background: #f1f1f1;
    h4 {
      color: #545454;
    }

    .v-list-item {
      .v-list-item__content {
        .v-list-item__title {
          color: #545454;
        }
        .v-list-item__subtitle {
          color: #545454;
        }
      }
    }
  }
  &.active {
    .package_bottom {
      display: block;
    }
    .package_top {
      
      h4 {
        color: #fff;
      }

      .v-list-item {
        .v-list-item__content {
          .v-list-item__title {
            color: #fff;
          }
          .v-list-item__subtitle {
            color: #fff;
          }
        }
      }
    }
  }
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  .center_out img{
    margin:50px;
    width:50px;
  }
  .v-btn--fab.v-btn--contained {
     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2); 
  }

  @keyframes anim_godown {
  0%   {
        transform: translateY(-100%);
      }
  100% {
        transform: translateY(0%);
      }
  }
</style>