<template>
    <div  class="package">
        <h4>The Package Include up to 5 bulky Items </h4>
        <h4>e.g Beds , washer, dryer, sofa one per line</h4>
              <v-text-field style="font-family: 'Nunito', sans-serif;" v-for="(item,index) in heavy_items" v-bind:key="index" v-model="bulky_items[index]" :label="'Item '+(index+1)"></v-text-field>
        <v-list class="center_out">  
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title> Add More</v-list-item-title>
              <v-list-item-subtitle class="mt-5">
                    <v-btn class="mx-2" fab dark x-small @click="changeHeavyItem('increase')">
                      <v-icon> mdi-plus</v-icon>
                    </v-btn>
                    {{heavy_items}}
                    <v-btn class="mx-2" fab dark x-small @click="changeHeavyItem('decrease')">
                      <v-icon> mdi-minus</v-icon>
                    </v-btn>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
    </div>
</template>
<script>
export default {
    props:['pack'],
    data(){
        return {
            heavy_items:3,
            bulky_items:[]
        }
    },
    created(){
      this.$store.dispatch('setCharge',JSON.parse(this.$route.params.travel_data).charge);
    },
    methods:{
        changeHeavyItem(type){
          if(this.heavy_items==1&&'decrease'==type){
            return;
          }
          ('decrease'==type&&this.heavy_items>0)?this.heavy_items--:this.heavy_items++;
        },
        redirect(){
          sessionStorage.setItem('bulky_items', JSON.stringify(this.bulky_items));
          sessionStorage.setItem('p',this.charge);
          this.$router.push('./rules');
        }
    },
    watch:{
      heavy_items(){
        if(this.heavy_items>this.pack.moving_item){
          let charge=((parseInt(this.heavy_items)-parseInt(this.pack.moving_item))*parseFloat(this.pack.moving_charge))+parseFloat(JSON.parse(this.$route.params.travel_data).charge);
          charge= Math.round(parseFloat(charge) * 100) / 100
          this.$store.dispatch('setCharge',charge);
        }else{
          let charge= Math.round(parseFloat(JSON.parse(this.$route.params.travel_data).charge) * 100) / 100;
          this.$store.dispatch('setCharge',charge);
        }
      }
    },
    computed:{
      charge(){
        return this.$store.state.charge;
      }
    }
}
</script>
<style lang="scss" scoped>
.package {
  padding:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F1F1F1;
  height: 100%;
  border-radius:5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  h4 {
      text-align: center;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: #545454;
    }
}
.v-btn.book_btn {
  background-color: #f27f0b !important;
  color: #fff !important;
  font-style: normal;
  font-weight: normal;
  //   font-size: 17px;
  color: #ffffff;
}
.package {
  .package_bottom {
    display: none;
  }
  .package_top {
    background: #f1f1f1;
    h4 {
      color: #545454;
    }

    .v-list-item {
      .v-list-item__content {
        .v-list-item__title {
          color: #545454;
        }
        .v-list-item__subtitle {
          color: #545454;
        }
      }
    }
  }
  &.active {
    .package_bottom {
      display: block;
    }
    .package_top {
      
      h4 {
        color: #fff;
      }

      .v-list-item {
        .v-list-item__content {
          .v-list-item__title {
            color: #fff;
          }
          .v-list-item__subtitle {
            color: #fff;
          }
        }
      }
    }
  }
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }
  .center_out img{
    margin:50px;
    width:50px;
  }
  .v-btn--fab.v-btn--contained {
     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2); 
  }

  @keyframes anim_godown {
  0%   {
        transform: translateY(-100%);
      }
  100% {
        transform: translateY(0%);
      }
  }
</style>