<template>
    <div  class="package" >
        <img :src="pack.image" alt="" style="min-width:160px;auto;max-height:200px;margin:10px;"/>
        <h4 style="margin:20px"> {{pack.name}}</h4>
    </div>
</template>
<script>
export default {
    props:['pack'],   
}
</script>
<style lang="scss" scoped>
.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #f27f0b;
  border-radius:5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  h4 {
      text-align: center;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 29px;
      line-height: 30px;
      color: #ffffff;
    }
}
.v-btn.book_btn {
  background-color: #f27f0b !important;
  color: #fff !important;
  font-style: normal;
  font-weight: normal;
  //   font-size: 17px;
  color: #ffffff;
}
.package {
  .package_bottom {
    display: none;
  }
  .package_top {
    background: #f1f1f1;
    h4 {
      color: #545454;
    }

    .v-list-item {
      .v-list-item__content {
        .v-list-item__title {
          color: #545454;
        }
        .v-list-item__subtitle {
          color: #545454;
        }
      }
    }
  }
  &.active {
    .package_bottom {
      display: block;
    }
    .package_top {
      
      h4 {
        color: #fff;
      }

      .v-list-item {
        .v-list-item__content {
          .v-list-item__title {
            color: #fff;
          }
          .v-list-item__subtitle {
            color: #fff;
          }
        }
      }
    }
  }
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  .center_out img{
    margin:50px;
    width:50px;
  }
  .v-btn--fab.v-btn--contained {
     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2); 
  }

  @keyframes anim_godown {
  0%   {
        transform: translateY(-100%);
      }
  100% {
        transform: translateY(0%);
      }
  }
</style>