<template>
    <div  class="package">
        <div class="contact">
          <div class="top">
            <div class="c_card">
              <h1>Questions?</h1>
              <h2>1-800-242-5544</h2>
              <h3>Monday - Sunday</h3>
            </div>
          </div>
        </div>
        <form action="" style="width: 95%;margin-top: 20px;">
          <v-textarea
              style="margin:10px;font-family: 'Nunito', sans-serif;"
              name="input-7-1"
              filled
              label="Question"
              auto-grow
          ></v-textarea>
          <button class="book_btn" text depressed>Contact</button>
        </form>
    </div>
</template>
<script>
export default {
    computed:{
        pickup_address(){
        return (this.$route.params.data)
                ?JSON.parse(this.$route.params.data).pickup_address
                :JSON.parse(this.$route.params.pickup).address;
        },
        dropoff_address(){
        return (this.$route.params.data)
                ?JSON.parse(this.$route.params.data).dropoff_address
                :JSON.parse(this.$route.params.dropoff).address;
        }
    }
}
</script>
<style lang="scss" scoped>
.package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  height:100%;
  padding: 10px;
  background: #f1f1f1;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  h4 {
      text-align: center;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
}
.v-btn.book_btn {
  background-color: #f27f0b !important;
  color: #fff !important;
  font-style: normal;
  font-weight: normal;
  //   font-size: 17px;
  color: #ffffff;
}
.package {
  .package_bottom {
    display: none;
  }
  .package_top {
    background: #f1f1f1;
    h4 {
      color: #545454;
    }

    .v-list-item {
      .v-list-item__content {
        .v-list-item__title {
          color: #545454;
        }
        .v-list-item__subtitle {
          color: #545454;
        }
      }
    }
  }
  &.active {
    .package_bottom {
      display: block;
    }
    .package_top {
      
      h4 {
        color: #fff;
      }

      .v-list-item {
        .v-list-item__content {
          .v-list-item__title {
            color: #fff;
          }
          .v-list-item__subtitle {
            color: #fff;
          }
        }
      }
    }
  }
}
.center_out{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  .center_out img{
    margin:50px;
    width:50px;
  }
  .v-btn--fab.v-btn--contained {
     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2); 
  }

  @keyframes anim_godown {
  0%   {
        transform: translateY(-100%);
      }
  100% {
        transform: translateY(0%);
      }
  }
  .contact {
  width: 300px;
  background: #ffffff;
  padding:10px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 4px;
  @media (max-width: 1070px) {
    margin-left: auto;
    margin-right: auto;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px 5px;
    margin: auto;
    h6 {
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 23px;

      color: #545454;
    }
    span {
      margin-top: 5px;
    }
  }
  .c_card {
    width: 90%;
    margin: auto;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 13px;
    margin-bottom: 28px;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;

      color: #545454;
    }
    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      /* identical to box height */

      color: #545454;
    }
    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */

      color: #959595;
    }
  }
}
.book_btn {
  background-color: #f27f0b !important;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #ffffff;
  max-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 30px;
  margin: auto;
  border: 1px solid #f27f0b;
  box-sizing: border-box;
  border-radius: 4px;
}

.theme--light.v-text-field--filled>.v-input__control>.v-input__slot {
    background: white!important;
}
</style>