<template>
    
</template>
<script>
export default {
    props:['placeholder','label','vector'],
    data(){
        return {
            message:''
        }
    },
    methods:{
        setPlace(value){
            let code=null;
            for (var i = 0; i < value.address_components.length; i++) {
                for (var j = 0; j < value.address_components[i].types.length; j++) {
                    if (value.address_components[i].types[j] == "postal_code") {
                       code= value.address_components[i].long_name;
                    }
                }
            }
            if(!code){
                this.message='Can’t find this address Select a suggested address'
            }else{
                this.$emit('sendValue',value);
            }

        },
    }
}
// <div class="pac-container pac-logo" style="width: 475px;position: absolute;left: 0px;top: 21px;/* display: none; */"></div>
</script>
<style>
.pac-container{
    background-color:white!important;
    border-radius: 10px!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    margin-top: 8px!important;
    padding: 12px!important;
    /* position: absolute!important; */
    /* right: 0!important; */
    /* top: 100%!important; */
    z-index: 500!important;
    color:black!important;


}
.pac-logo:after {
    display:none;
}
.pac-item-selected{
    background-color: #F27F0B!important;
    color:white!important;
    border-radius: 3px!important;
}
.pac-item-selected span{
    color:white!important;
}
.pac-item span:focus{
    color:white!important;
}

.pac-icon{
    display:none!important;
}
.alert{
    background-color: rgb(247, 73, 71);;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding: 12px;
    position: relative;
    color:white;
    z-index: 1000;
}
</style>

