<template>
  <section
    class="hero"
    id="hero"
  >
    <Navbar></Navbar>

    <v-row>
      <v-col sm="6" cols="12" dark>
        <h1 color="primary">
          Move <br />
          Anything
        </h1>
        <p>with the push of button</p>
      </v-col>
      <v-col sm="6" cols="12">
        <form @submit.prevent="" class="location_form" style="max-width:450px;">
          <v-row>
            <v-col style="padding:36px">
              <MapInput :placeholder="'Enter Pickup'" :label="'Pickup address'" @sendValue="getPickup"/>
              
              <MapInput :placeholder="'Enter Destination'" :label="'Destination'" id="mLabel" @sendValue="getDestination"/>
              
              <!-- to="/about/category" -->
              <v-btn block type="submit" @click="submitZone" text>  Get estimate </v-btn>
            </v-col>
          </v-row>
        </form>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import Navbar from "./Navbar";
import MapInput from './components/MapInput'
export default {

  data() {
    return {
      zone:{
        pickup:'',dropoff:'',zipcode:''
      },
      pickup:{
        lat:'',lng:'',address:'',zipcode:''
      },
      dropoff:{
        lat:'',lng:'',address:'',zipcode:''
      },
     
    };
  },
  created(){
    
  },
  components: {
    Navbar,MapInput
  },
  methods:{
    getPickup(value){
        this.pickup.zipcode=this.getPostalCode(value);
        this.pickup.address=value.formatted_address;
        this.pickup.lat = value.geometry.location.lat();
        this.pickup.lng = value.geometry.location.lng();
    },
    getDestination(value){
        this.dropoff.zipcode=this.getPostalCode(value);
        this.dropoff.address=value.formatted_address;
        this.dropoff.lat = value.geometry.location.lat();
        this.dropoff.lng = value.geometry.location.lng();
    },
    getPostalCode(value){
      for (var i = 0; i < value.address_components.length; i++) {
        for (var j = 0; j < value.address_components[i].types.length; j++) {
          if (value.address_components[i].types[j] == "postal_code") {
            return value.address_components[i].long_name;
          }
        }
      }
    },
    submitZone(){
      
      if(this.pickup.lat&&this.dropoff.lat)
        this.$router.push('/estimate/maps/'+JSON.stringify(this.pickup)+'/'+JSON.stringify(this.dropoff)+'/data');
    }
  }
};
</script>

<style lang="scss" scoped>
.hero {
  width: 100%;
  height: 95vh;
  background: url("/vectors/hero.jpg") no-repeat center / cover;
  position: relative;
  font-family: "Nunito", sans-serif;
  z-index: 1;
  padding: 0 30px;
  @media (max-width: 600px) {
    height: auto;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.46);
    z-index: -2;
  }
}
form {
  // z-index: 3;
  background: #fff;
  padding: 20px 8px;
  max-width: 285px;
  margin-left: auto;
  @media (max-width: 600px) {
    margin-left: 0;
    margin-right: auto;
  }
  .v-input input {
    padding: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  i.v-icon.v-icon {
    color: #f27f0b;
    margin-top: 7px;
  }
 
  .v-text-field input {
    margin-top: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .v-btn {
    background-color: #f27f0b !important;
    color: #fff !important;
    background: #f27f0b !important;
    border: 1px solid #f27f0b !important;
   font-weight: 600 !important;
    border-radius: 4px !important;
    transition: .3s linear;
  
  }
  #hero #mLabel{
  left: -41px !important;
}

}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 73px;
  color: #ffffff;
  @media (max-width: 767px) {
    font-size: 60px;
  }
}
p {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  // line-height: 49px;
  color: #ffffff;
  margin: 0;
  margin-top: 24px;
}

</style>