<template>
  <div class="nav_header">
    <v-container>
      <v-toolbar flat class="hidden-xs-and-down topBar">
        <v-toolbar-title>
          <span>
            <router-link to="/">
            <svg width="155" height="50" viewBox="0 0 155 50" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <rect width="155" height="50" fill="url(#pattern0)" />
              <defs>
                <pattern
                  id="pattern0"
                  patternContentUnits="objectBoundingBox"
                  width="1"
                  height="1"
                >
                  <use
                    xlink:href="#image0"
                    transform="translate(0 -0.00116667) scale(0.00333333 0.0103333)"
                  />
                </pattern>
                <image
                  id="image0"
                  width="300"
                  height="97"
                  xlink:href="/images/general/seredo.png"
                />
              </defs>
            </svg>
              </router-link>
          </span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn text v-if="!isLoggedIn" to="/auth/login">
            Login
          </v-btn>
          <v-btn text v-if="!isLoggedIn" to="/auth/register">
            Register
          </v-btn>
          <v-btn text v-if="isLoggedIn" to="/auth/logout" >
            Logout
          </v-btn>
          <v-btn text v-if="isLoggedIn">
            <router-link to="/dashboard/customer/my-reservation" v-if="isCustomer&&isLoggedIn">
              <v-btn depressed class="book_btn" > Dashboard </v-btn>
            </router-link>
            <router-link to="/dashboard/driver/index" v-if="isDriver&&isLoggedIn">
              <v-btn depressed class="book_btn" > Dashboard </v-btn>
            </router-link>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </v-container>
  </div>
</template>

<script>
export default {
  created(){
    this.getUser();
  },
  methods:{
    getUser(){
      this.$store.dispatch('getUser');
    }
  },
  computed:{
    user(){
      return this.$store.state.user;
    },
    isDriver(){
      return this.$store.state.user.role=='driver';
    },
    isCustomer(){
      return this.$store.state.user.role=='customer';
    },
    isLoggedIn(){
      return localStorage.getItem('access_token')!=null;
    }
  }
};
</script>

<style lang="scss" scoped>
.nav_header {
  box-shadow: 0px 4px 11px -5px rgba(0, 0, 0, 0.25);
}
a {
  text-decoration: none;
  // color: #fff;
  font-family: "Nunito", sans-serif;
  color: #000;
}
.navBar {
  margin-bottom: 100px;
  header {
    background-color: transparent !important;
  }
}
.v-btn.book_btn {
  background-color: #f27f0b !important;
  color: #fff !important;
}
</style>