<template>
  <v-simple-table id="d__table" fixed-header height="200px">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left_2">Reservation Id</th>
          <th class="text-left_2">Package</th>
          <th class="text-left_2">Date</th>
          <th class="text-left_2">View</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in reservations" :key="i" v-if="item.status==type">
          
          <td>{{ styleId(item.id) }}</td>
          <td>{{ item.name }}</td>
          <td>{{ formateDate(item.date) }}</td>
          <td>
            <button
              @click="$router.push('./my-reservation/'+item.id)"
              class="view_btn"
              text
              depressed
            >
              view
            </button>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
  props: ["reservations",'type'],
  methods: {
    styleId(id){
      console.log(id);
      length=`${id}`.length;
      switch(length){
          case 1:
              return "000"+id;
          break;
          case 2:
              return "00"+id;
          break;
          case 3:
              return "0"+id;
          break;
          default:
              return id;
          break;
      }
    },
    formateDate(date){
      date=date.split('/');
      return date[1]+'/'+date[0]+'/'+date[2];
    }
  },
};
</script>

<style lang="scss" scoped>
.book_btn,
.view_btn {
  background-color: #f27f0b !important;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #ffffff;
  max-width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  border: 1px solid #f27f0b;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
.view_btn {
  max-width: 100px;
  height: 30px;
  font-size: 0.875rem;
}
</style>