<template>
    <form class="ml-4 animation" @submit.prevent="updateProfile">

        <v-text-field label="First Name" v-model="profile.first_name" :error-messages="errors.get('first_name')" required></v-text-field>

        <v-text-field label="Last Name" v-model="profile.last_name" :error-messages="errors.get('last_name')" required></v-text-field>

        <v-text-field label="Phone Number" v-model="profile.phone_number" :error-messages="errors.get('phone_number')" required></v-text-field>

        <v-text-field label="Mailing Address" v-model="profile.mailing_address" :error-messages="errors.get('mailing_address')" required></v-text-field>

        <v-btn depressed class="book_btn" type="submit" > Save</v-btn>
    </form> 
</template>
<script>
export default {
    created(){
        this.id=this.p.id;
        this.profile.first_name=this.p.first_name;
        this.profile.last_name= this.p.last_name;
        this.profile.mailing_address= this.p.mailing_address;
        this.profile.phone_number= this.p.phone_number;
    },
    data(){
        return {
            profile:{
                first_name:'',
                last_name:'',
                phone_number:'',
                mailing_address:''
            },
            id:'',
            errors:new Errors()
        }
    },
    methods:{
        updateProfile(){

            this.$store.dispatch('updateProfile',{profile:this.profile,profile_id:this.id})
                .then(response=>{
                    this.$router.push('./profile');
                    this.$store.dispatch('setAlert','Your profile has been Updated');
                })
                .catch(errors=>{
                    this.errors.record(errors.response.data);
                });
        }
    },
    computed:{
        p(){
            return this.$store.state.profile;
        }
    }
}
</script>
<style scoped>
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #f27f0b !important;
    color: #fff !important;
}
</style>