<template>
  <div class="home">
    <section class="eForm">
      <v-container>
      
           <v-row>
  <div class="text">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta
              sunt cumque vitae fugit vero, totam omnis quasi eius laborum
              minima, velit impedit. Totam eaque in magni voluptatum! Quia
              reprehenderit odio magnam, fugiat eaque vitae corrupti unde
              assumenda inventore ad deleniti ipsum nam blanditiis repudiandae
              molestias distinctio ratione a. Debitis rerum id tempore dicta,
              eligendi obcaecati cumque reprehenderit iure qui, repellendus
              aliquid magni expedita saepe sunt animi illum odio enim
              consequuntur dolorum? Error exercitationem pariatur, sit
              consequatur inventore dolores nihil totam quia repudiandae
              eligendi, ab soluta distinctio aliquam doloribus, reiciendis
              voluptatibus rem sunt nulla voluptas ipsum accusantium officia
              obcaecati tempore. Laudantium. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Repellendus, eaque dolorem
              distinctio dolor illo perferendis aliquid odit quae ad animi atque
              officiis cumque quibusdam laboriosam ex veniam assumenda mollitia
              est quas iure? Minima odio impedit perspiciatis doloremque quod
              nulla quos.obcaecati tempore. Laudantium. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Repellendus, eaque dolorem
              distinctio dolor illo perferendis aliquid odit quae ad animi atque
              officiis cumque quibusdam laboriosam ex veniam assumenda mollitia
              est quas iure? Minima odio impedit perspiciatis doloremque quod
              nulla quos.
            </p>
          </div>
           </v-row>
          
          <v-row>
           <ul>
              <li>
                {{profile.first_name}}   
              </li>
               <li>
                  {{profile.last_name}}
              </li>
               <li>
                 {{getDate}}
              </li>
              <li>
                  {{profile.phone_number}}
              </li>
          </ul>
          </v-row>
             <v-btn
            id="button"
          @click.native.stop="dialog = true"
        >
          Signin Electronically
        </v-btn>

  <v-row justify="center" data-app>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="500"
    >
      <v-card>
        <v-card-title class="headline">
         Your Information
        </v-card-title>
       
             <v-container>
            <v-row>
              <v-col
                cols="12" 
              >
                <v-text-field
                  label="Enter Your Name"
                  v-model="name"
                  required
                ></v-text-field>
              </v-col>
              
            </v-row>
          </v-container>
       
        <v-card-actions>
          <v-spacer></v-spacer>
        
          <v-btn
            color="green darken-1"
            text
            @click="closeForm"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>

       <v-row>
            <v-btn
      depressed
      id="disabled"
      v-if="continuee"
      @click="closeBtn"
    >
      Continue
    </v-btn>
       </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
// import Navbar from "@/components/Hero/Navbar3";
export default {
    data () {
      return {
        dialog: false,
        name:'',
        continuee:false
      }
    },
  components: {
    // Navbar,
  },
  computed:{
      getDate(){
          return new Date().toLocaleDateString();
      },
      profile(){
        return this.$store.state.profile;
      }
  },

methods:{
    closeForm(){
        this.dialog = false;
       
        if(this.name != '')
        {
            this.$router.push('./stripeform');
            this.continuee = true;
        }
    },
    closeBtn(){
        this.name = '';
        this.continuee = false;
    }
}
};
</script>

<style lang="scss" scoped>
.eForm{

    font-family: "Nunito", sans-serif;
}
.text {
  max-width: 800px;
  background-color: #eee;
  margin: 40px auto;
  height: 400px;
  overflow-y: auto;
  padding: 0px 10px;
  margin-bottom: 20px;
  p {
    text-align: justify;
    padding: 10px;
  }
}
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  .text::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  .text::-webkit-scrollbar-thumb {
    background:#f27f0b;
    border-radius: 10px;
  }
  ul{
      list-style: none;
      max-width: 500px;
      margin: auto;
      li{
          display: inline-block;
          margin: 0px 10px;
      
          padding: 8px;
          border-bottom: 2px solid #f27f0b;
      }
  }
  #button,
  #disabled
  {
       background: #f27f0b !important;
      font-family: "Nunito", sans-serif;
      max-width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      margin: auto;
      width: 100%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      margin-top: 30px;
      margin-bottom: 16px;
      font-weight: bold;
  }
  .v-btn{
       background: #f27f0b !important;
         color: #fff !important;
         letter-spacing: 0.03em;
      text-transform: capitalize;
      font-weight: bold;
    
      margin-bottom: 20px;
  }
    #disabled
{
    max-width: 100px;
    height: 45px;
}
</style>