<template>
  <div class="package">
    <h1>{{pack.name}}</h1>
    <v-list>
      <v-list-item >
        <v-list-item-icon>
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0ZM10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C14.411 2 18 5.589 18 10C18 14.411 14.411 18 10 18Z" fill="#545454"/>
              <path d="M11 6C11 5.44772 10.5523 5 10 5C9.44771 5 9 5.44772 9 6V8C9 9.65685 10.3431 11 12 11H14C14.5523 11 15 10.5523 15 10C15 9.44771 14.5523 9 14 9H13C11.8954 9 11 8.10457 11 7V6Z" fill="#545454"/>
            </svg>
          </span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> {{minToHour(pack.service_time)}}Hr Moving Help</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item >
        <v-list-item-icon>
          <span>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44887 0.921172C3.56753 0.359278 2.4404 0.359176 1.55896 0.92091C-0.0994601 1.9778 -0.0989438 4.39938 1.55993 5.45557C2.44091 6.01648 3.56703 6.01638 4.44791 5.45531C6.10623 4.39905 6.10675 1.97814 4.44887 0.921172ZM14.454 0.921041C13.5726 0.359228 12.4454 0.359227 11.564 0.921041C9.9059 1.97797 9.90641 4.39922 11.565 5.45544C12.4459 6.01643 13.5721 6.01643 14.453 5.45544C16.1116 4.39922 16.1121 1.97797 14.454 0.921041ZM1.55977 7.29482C-0.09891 8.35121 -0.0989102 10.7728 1.55977 11.8292C2.4408 12.3903 3.56713 12.3902 4.44807 11.8289C6.1062 10.7725 6.1062 8.35155 4.44807 7.29508C3.56713 6.7338 2.4408 6.7337 1.55977 7.29482ZM14.4532 7.29495C13.5722 6.73375 12.4458 6.73375 11.5648 7.29495C9.90645 8.35138 9.90645 10.7726 11.5648 11.8291C12.4458 12.3903 13.5722 12.3903 14.4532 11.8291C16.1116 10.7726 16.1116 8.35138 14.4532 7.29495ZM6.56199 11.5448C4.90372 12.601 4.9032 15.0218 6.56102 16.0788C7.44241 16.6407 8.56962 16.6407 9.45106 16.0789C11.1092 15.022 11.1086 12.6008 9.45009 11.5446C8.56911 10.9836 7.44292 10.9837 6.56199 11.5448Z" fill="#545454"/>
            </svg>
          </span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> {{JSON.parse($route.params.travel_data).bulky}} x Bulky Items</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item >
        <v-list-item-icon>
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM18.1818 10C18.1818 14.5187 14.5187 18.1818 10 18.1818C5.48131 18.1818 1.81818 14.5187 1.81818 10C1.81818 5.48131 5.48131 1.81818 10 1.81818C14.5187 1.81818 18.1818 5.48131 18.1818 10Z" fill="#545454"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 11.2323L13.7929 5.93945L15.2071 7.35366L8.5 14.0608L4.79289 10.3537L6.20711 8.93945L8.5 11.2323Z" fill="#545454"/>
            </svg>
          </span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> Delivery Included</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item >
        <v-list-item-icon>
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM18.1818 10C18.1818 14.5187 14.5187 18.1818 10 18.1818C5.48131 18.1818 1.81818 14.5187 1.81818 10C1.81818 5.48131 5.48131 1.81818 10 1.81818C14.5187 1.81818 18.1818 5.48131 18.1818 10Z" fill="#545454"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 11.2323L13.7929 5.93945L15.2071 7.35366L8.5 14.0608L4.79289 10.3537L6.20711 8.93945L8.5 11.2323Z" fill="#545454"/>
            </svg>
          </span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> Pickup & Dropoff Included</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item >
        <v-list-item-icon>
          <span>
            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 0H2C0.897 0 0 0.897 0 2V14C0 15.103 0.897 16 2 16H18C19.103 16 20 15.103 20 14V2C20 0.897 19.103 0 18 0ZM2 2H18V4H2V2ZM2 14V8H18.001L18.002 14H2Z" fill="#545454"/>
              <path d="M4 10H11V12H4V10Z" fill="#545454"/>
            </svg>
          </span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> Deposit ${{pack.deposit}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item >
        <v-list-item-icon>
          <span>
            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 0H2C0.897 0 0 0.897 0 2V14C0 15.103 0.897 16 2 16H18C19.103 16 20 15.103 20 14V2C20 0.897 19.103 0 18 0ZM2 2H18V4H2V2ZM2 14V8H18.001L18.002 14H2Z" fill="#545454"/>
              <path d="M4 10H11V12H4V10Z" fill="#545454"/>
            </svg>
          </span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> Total ${{charge}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      

    </v-list>
    <br>
  </div>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  created(){
    this.fetchPackage();
  },
  methods:{
    fetchPackage(){
      this.$store.dispatch('fetchPackage',this.$route.params.package_id);
    },
    minToHour(min){
      return Math.round((parseFloat(min)/60)*10)/10;
    }
  },
  computed:{
    pack(){
      return this.$store.state.selected_package
    },
    charge(){
      return sessionStorage.getItem('p');
    }
  }
};
</script>

<style lang="scss" scoped>
.package {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #f1f1f1;
  max-height: 340px;
  padding: 2px;
  h1 {
    text-align: center;
    margin: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #545454;
  }
  margin-top: 60px;
  .v-list {
    background: transparent !important;
    padding: 0 !important;
    .v-list-item {
      // max-height: 30px;
      margin-bottom: -17px !important;
      &:last-child {
        margin-top: 50px !important;
      }
      .v-list-item__action {
        margin: 16px auto 5px auto;
      }
      .v-list-item__icon {
        align-self: flex-start;
        margin: 9px 0;
      }
      .v-list-item__content {
        padding: 0;
        padding-bottom: 9px;
        .v-list-item__title {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          // line-height: 34px;

          color: #545454;
        }
      }
    }
  }
}
</style>