<template>
  <div class="signin_form" id="p_form">
    <h1>Due To Deposit</h1>
    <form @submit.prevent="pay">
      <v-row>
        <v-col cols="12" style="padding:20px">
          <div ref="card"></div>
          <div id="card-errors" style="color:red" role="alert" v-text="errorMessage"></div>
          <span v-if="errors.has('nostripe')" style="color:red" >
            {{ errors.get('nostripe') }}
          </span>
        </v-col>
      </v-row>
      <!-- <v-btn type="submit" text>Pay Now</v-btn> -->
      <v-btn
      type="submit"
      class="ma-2"
      :loading="loading"
      :disabled="loading"
      color="secondary"
      @click="pay"
      >
      Submit
    </v-btn>
    </form>
  </div>
</template>

<script>
let stripe = Stripe(`pk_test_51HOjzsC1zYIo0nPVGDHjGscFl6fjXUc1UKXHyGfdPxLowZkMH6ozZix5sin98CjafdP1UNSCfhbxYAspQW1lUkh200pRrJPDjp`),
elements = stripe.elements(),
card = undefined;
export default {
  data() {
    return {
      errors:new Errors(),
      errorMessage:'',
      loader: null,
      loading: false,
    }
  },
  mounted(){
    let self = this;
    
    if(!card){
      card = elements.create('card');
      card.mount(this.$refs.card);      
    }else{
      card.clear();
      card.mount(this.$refs.card);
    }
    card.on('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            self.errorMessage=event.error.message;
            self.$emit('getErrors',event.error.message);
          } else {
            self.errorMessage="";
          }
        });
  },
  methods: {
    
    pay () {
        let self=this;
        self.loader = 'loading';
        if(this.user.id){
          let FormData={
            type:this.$route.params.type,
            user_id:this.user.id,
            note:this.$route.params.note,
            schedule_data:this.schedule_data,
            package_id:this.$route.params.package_id,
            travel_data:this.$route.params.travel_data,
            dropoff_zone_id:this.$route.params.dropoff_zone_id,
            pickup_zone_id:this.$route.params.pickup_zone_id,
            dropoff:this.$route.params.dropoff,
            pickup:this.$route.params.pickup,
            schedule_data:this.$route.params.schedule_data,
            token:'',
            bulky_items:JSON.parse(sessionStorage.getItem('bulky_items')),
            charge:sessionStorage.getItem('p')
          }
          stripe.createToken(card).then(function(result) {
            FormData.token=result.token.id;
            self.$store.dispatch('storeReservation',FormData)
            .then((response)=>{
              card.clear();
              self.$router.push('/full/success/'+response);
              self.loader = false;
              sessionStorage.clear();
              
            }).catch((errors)=>{
              
            })
          }).catch((errors)=>{
            this.loader = 'loading';
          })
        }
    }
  },  
  watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        

        this.loader = null
      },
  },
  computed:{
    pack(){
      return this.$store.state.selected_package
    },
    user(){
      return this.$store.state.user;
    }
  }
}
</script>

<style lang="scss" scoped>
.signin_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;

    color: #000000;
  }

  form {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 16px;
    max-width: 470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #f1f1f1;
    border-radius: 4px;
    .v-input input {
      padding: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    i.v-icon.v-icon {
      color: #f27f0b;
      margin-top: 7px;
    }
    .v-input__slot .v-label {
      color: #f27f0b !important;
      margin-bottom: 7px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
    .v-text-field input {
      margin-top: 7px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    .v-btn {
      background: #f27f0b !important;
      border: 1px solid #f27f0b;

      font-family: "Nunito", sans-serif;
      max-width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      margin: auto;
      width: 100%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      margin-top: 20px;
      margin-bottom: 16px;
    }
    p {
      margin: 0;

      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;

      color: rgba(0, 0, 0, 0.25);
      transform: translateY(-23px);
    }
  }
}
.pac-container{
    background-color:white!important;
    border-radius: 10px!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    margin-top: 8px!important;
    padding: 12px!important;
    /* position: absolute!important; */
    /* right: 0!important; */
    /* top: 100%!important; */
    z-index: 500!important;
    color:black!important;


}
.pac-logo:after {
    display:none;
}
.pac-item-selected{
    background-color: #F27F0B!important;
    color:white!important;
    border-radius: 3px!important;
}
.pac-item-selected span{
    color:white!important;
}
.pac-item span:focus{
    color:white!important;
}

.pac-icon{
    display:none!important;
}
.alert{
    background-color: rgb(247, 73, 71);;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding: 12px;
    position: relative;
    color:white;
    z-index: 1000;
}
.empty-extra{
      margin:15px 0px;
      background-color: var(--main-color);
  }
  .empty-extra h4{
          margin: 0;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          text-align: center;
      }
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.stripe-card{
  width:auto!important;
  border-radius: .25rem!important
  /* border: 1px solid #ced4da!important; */
}
.stripe-card {
  border: 1px solid #cfd4da;
  border-radius: .25rem;

}
.stripe-card.complete {
  border-color: green;
}
</style>